{% extends 'euroapp/base.html' %}

{% block content %}
    <h1>Todas as chaves geradas</h1>
    <hr>
    {% for chave in chaves %}
        <p>Data: {{ chave.data }}</p>
        <p>Números: {{ chave.numeros }}</p>
        <p>Estrelas: {{ chave.estrelas }}</p>
        <hr>
    {% empty %}
        <p>Nenhuma chave gerada ainda.</p>
    {% endfor %}
    <div class="button-container">
        <a href="{% url 'euroapp:index' %}">Voltar à página inicial</a>
    </div>
    <br>
{% endblock %}
